#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-header {
  background-color: #202020;
  border-radius: 0 0 20% 20%;
}

.img-logo {
  width: 100px;
  padding: 10px;
  margin-left: 30%;

}
.user-subtitle{
  font-size: 10px;
  color: rgb(119, 0, 255);
}

.labelHeader{
  font-size: 14px;
  color: white;
  font-weight: bold;

}

ion-avatar {
  margin-left: 10px;
  width: 50px;
  height: 50px;
}

.custom-card {
  border-radius: 50px;
  background-color: #000000;
  width: max-content;
  margin: 20px auto;
  font-size: 12px;
  ion-card-content{
    padding: 0;
  }
}


div {
  margin-top: 10px;
  height: 22vh;
  swiper-container {
      swiper-slide {
          height: 22vh;
          .custom-cardtest {
            width: 100%;
            height: 18vh;
            border-radius: 5px;
            background-image: url('../../assets/card1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          }
          #background-card2{
            background-image: url('../../assets/card2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          }
          .card-yoga {
            width: 100%;
            height: 18vh;
            border-radius: 5px;
            background-image: url('../../assets/yogaCard.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            .yogaTitle {
              color: white;
              font-weight: 700;
              margin-top: 35%;
              font-size: 14px;
            }
          }
          .card-botom{
            width: 100%;
            height: 18vh;
            border-radius: 5px;
            background-color: black;
            border: 1px solid #8c8c8c;
          }
      }
  }
}

.titleCardsBody {
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: 20%;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.headerCardBody{
  padding-top: 0;
  ion-card-title{
    color: white;
    font-size: 14px;
    font-weight: 700;
  }
}
.contentCardBody{
  padding-bottom: 0;
  margin-top: 25%;
  color: #f76f00;
}
.labelSubCard{
  font-size: 10px;
  color: #f76f00;
}

.row-card{
  margin-top: 50px;
}
.icon-add {
  font-size: 40px;
  color: white;
}
.textoAdd{
  color: white;
}
.button-conteudo{
 width: 60px;
 height: 60px;
 background-color: #f76f00;
 margin: 30px 0 0 40px;
 border-radius: 10px;
}
